<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I am a Platform Engineer at Capgemini</h4>
  </div>
  <div class="user-content">
    <p>
      Cloud Engineer, Full Stack Developer, IT Consultant, Intelligence Analyst, and Mechanical Engineer. Experienced former service member (Navy) with 16 years of proven record with extensive international experience within NATO headquarters and with the UK partners. 5 years of management of the Computer-Aided Maintenance System of Naval Vessels. 4 years of Intelligence Officer at Navy HQ and NATO Intelligence Fusion Center. 10 years of engineering officer duties at warships. </p>
    <p>
      Pursued a strong career in information technologies upon leave of Service. Ability to diagnose, troubleshoot, and resolve technical problems. Proven knowledge of hardware, networking, device management, and related applications. Advanced analytical and problem-solving abilities. Dedicated to continuous personal development particularly on Information and Communications Technologies. Outside of work, I enjoy spending time with my family, teaching my daughters, learning new things, nature photography, gardening, blogging and coding.    </p>
  </div>
</div>